@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

html[lang="ar"] body {
    direction: rtl;
}

html[lang="en"] {
    font-family: Codec, 'Inter';
}

.animateWrap {
    width: 0px;
    height: 0px;
    position: fixed;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    z-index: 999;
    opacity: 0;
    background-color: #22DB54;
}

.animateWrap .animateInner{
    border-radius: 100%;
}