.heroAnimeStart h1,
.heroAnimeStart h2 {
    font-size: 140px;
    line-height: 160px;
}

.headingsWraper {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.heroAnimeStart .mainTitleGradient {
    opacity: 1;
    color: #fff;
    mix-blend-mode: overlay;
}