.borderClassName{
    border: 1px solid #22DB54;
}

.footerPanel {
    padding: 50px 0;
}

.footerPanel * {
    color: #310D7D;
}

.footerPanel h2 {
    font-size: 36px;
    line-height: 40px;
    max-width: 400px;
}

.footerPanel>div:first-child {
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footerPanel>div:last-child {
    width: 60%;
    padding: 50px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(150px);
}

.contactPanel > div{
    width: calc(33.33% - 20px);
}

.contactPanel h4{
    font-size:18px;
}

.contactPanel h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.address{
    margin-top: 50px;
}

.address h4{
    font-size: 18px;
}

.subsscribe{
    margin-top: 80px;
}

.subsscribe h4{
    font-size: 20px;
}

.copyRight{
    font-size: 14px;
}

@media(max-width:1024px){
    .contactPanel{
        flex-wrap: wrap;
    }
    .contactPanel > div{
        width: calc(50% - 15px);
    }
    .contactPanel > div:last-child{
        margin-top: 20px;
    }
}

@media(max-width:768px){
    .footerPanel{
        flex-flow: column;
    }
    .footerPanel>div:first-child,
    .footerPanel>div:last-child {
        width: 100%;
    }
}


@media(max-width:600px){
    .contactPanel > div{
        width: 100%;
    }
}